@import '@/styles/mixins';

input {
  all: unset;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.iconStart {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;
}

.iconEnd {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: grid;
  place-items: center;

  width: 20px;
  height: 20px;
}

.input {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 6px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  border-radius: 2px;
  outline: none;
  box-shadow: 0 0 0 1px var(--color-dark-500);

  &::placeholder {
    color: var(--color-dark-100);
  }

  &:disabled {
    color: var(--color-dark-300);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-info-700);
  }

  //TODO inf700 tab border

  &:focus,
  &:active {
    box-shadow: 0 0 0 1px var(--color-light-100);

    &::placeholder {
      color: var(--color-dark-100);
    }
  }

  &.error {
    color: var(--color-danger-300);
    box-shadow: 0 0 0 1px var(--color-danger-300);

    &::placeholder {
      color: var(--color-danger-300);
    }
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-700);
  }

  &[data-icon*='start'] {
    padding-left: 36px;
  }

  &[data-icon*='end'] {
    padding-right: 36px;
  }
}

.iconButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  right: 5px;

  width: 20px;
  height: 20px;

  &.disabled {
    cursor: unset;
    color: var(--color-dark-300);
  }
}
