@import '@/styles/mixins';

.card {
  @include flex-block;

  max-width: 420px;
  padding: 33px 36px 29px;

  .title {
    margin-bottom: 51px;
    text-align: center;
  }

  .textfield {
    margin-bottom: 19px;
  }

  .description {
    margin-bottom: 41px;
    opacity: 0.5;
  }

  .submit {
    margin-bottom: 60px;
  }
}
