.title {
  display: block;

  margin-bottom: 24px;

  font-size: 1.5rem;
  font-weight: 600;
  line-height: 27px;
  color: var(--neutral-light-50, #fffefe);
}

.table {
  border-collapse: collapse;

  color: var(--light-100, #fff);

  border-right: 1px solid var(--dark-500, #333);
  border-bottom: 1px solid var(--dark-500, #333);
  border-left: 1px solid var(--dark-500, #333);
}

.headCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);

  background: var(--dark-500, #333);

  &.sortable > span {
    cursor: pointer;
  }

  svg {
    transition: transform 0.2s ease-in-out;
  }
}

.tableCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  background: var(--dark-900, #000);
  border-bottom: 1px solid var(--dark-500, #333);
}

.chevronDown {
  transform: rotate(180deg);
  transition: 0.2ms all ease-in-out;
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
}
